/* Flex container */
.movie-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
}

.movie-container .movie-header{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
    justify-content: center;
}

.movie-container .movie-header .caption{
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 5px;
    color: #555555;
}

.movie-container .movie-header .postfix{
    line-height: 3.4;
    font-style: italic;
    color: #2196f3;
}   

.movie-container .movie-tile-container{
    padding: 0;
    margin: 10px 0 10px 0;    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row nowrap;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}

.movie-container .movie-tile-container .movie-title-item{
    width: 300px;
    text-align: left;
    font-size: 1.1em;
    line-height: 3.6;
    padding: 10px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #e53935;
}

.movie-container .movie-tile-container .movie-scheduler-container{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 180px;
    height: 100px;
    text-align: left;
    flex-direction: column;
    
    -webkit-flex-flow: row nowrap;
    justify-content: space-around;
}

.movie-container .movie-tile-container .movie-scheduler-container .title{
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ef5350;
}

.movie-container .movie-tile-container .movie-scheduler-container .movie-scheduler-items{
    margin: 0;
    padding: 0;
    list-style: none;
}

.movie-container .movie-tile-container .movie-scheduler-container .movie-scheduler-items .movie-scheduler-sigle-item{
    background: #f44336;
    margin: 1px;
    color: #fefefe;
    padding: 5px;
    cursor: pointer;
    height: 20px;
}

.movie-container .movie-tile-container .movie-scheduler-container .movie-scheduler-items .movie-scheduler-sigle-item:hover{
    background: #fefefe;
    margin: 1px;
    color: #f44336;
    padding: 5px;
    cursor: pointer;
}