.payment-container{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 160px 100px;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

.payment-container .home-btn{
    padding: 15px 30px;
    color: #fefefe;
    background: #d32f2f;
    border: 1px solid #d32f2f;
    cursor: pointer;
    font-size: 1.1em;
    width: 120px;
    margin: 20px auto;
}

.payment-sub-container{
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 160px 100px;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #d2d2d2;
    width: 70%;
    margin: 0 auto;
}

.payment-sub-container .payment-summary{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 130px 50px 0 50px;
    color: #e57373;
}

.payment-sub-container .payment-summary .greeting{
    font-size: 1.8em;
    font-style: italic;
}

.payment-sub-container .payment-summary .message{
    padding-top: 20px;
    font-size: 1.3em;
    font-style: italic;
}

.payment-sub-container .payment-page{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 50px;
}

.payment-sub-container .payment-page .heading{
    font-size: 1.4em;
    color: #555555;
    padding-bottom: 50px;
    letter-spacing: 1px;
}

.payment-sub-container .payment-page .field-container{
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

.payment-sub-container .payment-page .action-container{
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 80px 0 0 380px;
}

.payment-sub-container .payment-page .action-container .pay-btn{
    padding: 15px 30px;
    color: #d32f2f;
    background: #ffffff;
    border: 1px solid #d32f2f;
    cursor: pointer;
    font-size: 1.1em;
}

.payment-sub-container .payment-page .field-container .label{
    font-size: 1.1em;
    width: 150px;
    line-height: 2;
    color: #555555;
    letter-spacing: 1px;
}

.payment-sub-container .payment-page .field-container .input-container{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.payment-sub-container .payment-page .field-container .input-container .error{
    padding: 5px;
    color: #f44336;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.payment-sub-container .payment-page .field-container .input-container .inputs{
    width: 270px;
    height: 35px;
    font-size: 1.1em;
    color: #555555;
    padding-left: 10px;
    letter-spacing: 1px;
}

.payment-sub-container .payment-page .field-container .input-container .input-code{
    width: 40px;
    height: 35px;
    font-size: 1.1em;
    color: #555555;
    padding-left: 10px;
    letter-spacing: 1px;
}

.payment-sub-container .payment-page .field-container .input-container .select-month{
    width: 70px;
    font-size: 1.1em;
    color: #555555;
    height: 35px;
    margin-right: 30px;
}

.payment-sub-container .payment-page .field-container .input-container .select-year{
    width: 100px;
    font-size: 1.1em;
    color: #555555;
    height: 35px;
    margin-left: 40px;
}

.hide{
    display: none;
}