.receipt-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 65px 100px;
}

.receipt-container .doc{
    margin: 0 auto;
}

.receipt-container .action-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.receipt-container .action-container .download-btn{
    padding: 15px 30px;
    color: #d32f2f;
    background: #ffffff;
    border: 1px solid #d32f2f;
    cursor: pointer;
    font-size: 1.1em; 
}

.receipt-container .action-container .home{
    padding: 15px 45px;
    color: #fefefe;
    background: #d32f2f;
    cursor: pointer;
    font-size: 1.1em;
    border: 1px solid #d32f2f;
}

